{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
        getopt,
        sync
       ]}.

{escript_main_app, erlang_package}.
{escript_name, cli}.
{escript_incl_apps, [getopt]}.
{escript_emu_args, "%%! +sbtu +A0\n"}.
{artifacts, ["bin/cli"]}.

{provider_hooks, [
                  {pre, [{compile, clean}]},
                  {post, [{compile, escriptize}]}]}.

{relx, [{release, { erlang_package, "0.1.0" },
         [erlang_package,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
            {prod,
             [{relx, [{dev_mode, false},
                      {include_erts, true}]}]
            },
            {test,
             [{erl_opts, [debug_info]}]
            }
           ]
}.
